# SQL QUERIES

We use SQL query to answer the following questions:

-How many orders per day? 

-How much sales per day?

-What is the top selling product?

-What percentage of orders are with discount codes?

-What percentage of orders include the product with SKU PM591?

-Which hour of day do people buy most products?

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Orders/day" data-toc-modified-id="Orders/day-1">Orders/day</a></span></li><li><span><a href="#Sales/day" data-toc-modified-id="Sales/day-2">Sales/day</a></span></li><li><span><a href="#Top-selling-product" data-toc-modified-id="Top-selling-product-3">Top selling product</a></span></li><li><span><a href="#Percentage/orders-with-discount-codes" data-toc-modified-id="Percentage/orders-with-discount-codes-4">Percentage/orders with discount codes</a></span></li><li><span><a href="#Percentage/orders-with-reference-SKU-PM591" data-toc-modified-id="Percentage/orders-with-reference-SKU-PM591-5">Percentage/orders with reference SKU PM591</a></span></li><li><span><a href="#Hour-of-day-with-more-orders" data-toc-modified-id="Hour-of-day-with-more-orders-6">Hour of day with more orders</a></span></li></ul></div>

In [5]:
import sqlite3

In [8]:
%reload_ext sql

In [10]:
%sql sqlite:////Users/serpina/ironhack/projects/product-sql-query/data-products.db

## Orders/day

In [11]:
%%sql
SELECT Date(created_at) AS Date, COUNT(order_number) AS Num_orders
FROM orders
GROUP BY date(created_at)
ORDER BY Num_orders desc;

 * sqlite:////Users/serpina/ironhack/projects/product-sql-query/data-products.db
Done.

[('2020-11-16', 8429),
 ('2020-11-11', 5546),
 ('2020-11-12', 2999),
 ('2020-11-15', 2235),
 ('2020-11-14', 2150),
 ('2020-11-13', 1917),
 ('2020-11-17', 1138)]

## Sales/day

In [13]:
%%sql
SELECT Date(created_at) AS Date, SUM(total_order_price) AS Totals
FROM orders
GROUP BY date(created_at)
ORDER BY Totals desc;

 * sqlite:////Users/serpina/ironhack/projects/product-sql-query/data-products.db
Done.

[('2020-11-16', 502033),
 ('2020-11-11', 308838),
 ('2020-11-12', 161420),
 ('2020-11-15', 127521),
 ('2020-11-14', 125088),
 ('2020-11-13', 111716),
 ('2020-11-17', 63994)]

## Top selling product

In [15]:
%%sql
SELECT sku AS Product, COUNT(*) AS Total
FROM orders
GROUP BY sku
ORDER BY Total desc
limit 1;

 * sqlite:////Users/serpina/ironhack/projects/product-sql-query/data-products.db
Done.

[('LUBMONO1', 8210)]

## Percentage/orders with discount codes

In [17]:
%%sql
SELECT 100* count(*)/(select count(*) FROM orders) AS Percent_with_discount
FROM orders
WHERE discount_code is not null;

 * sqlite:////Users/serpina/ironhack/projects/product-sql-query/data-products.db
Done.

[(36,)]

## Percentage/orders with reference SKU PM591

In [18]:
%%sql
SELECT 100* COUNT(*)/(SELECT COUNT(*) FROM orders) AS Percent_PM591
FROM orders
WHERE sku = 'PM591';

 * sqlite:////Users/serpina/ironhack/projects/product-sql-query/data-products.db
Done.

[(6,)]

## Hour of day with more orders

In [20]:
%%sql
SELECT strftime('%H', datetime(created_at)) hora, COUNT(*) orders
from orders
GROUP BY strftime('%H', datetime(created_at))
ORDER BY orders desc
limit 1;

 * sqlite:////Users/serpina/ironhack/projects/product-sql-query/data-products.db
Done.

[('22', 2092)]